<body>

<p>
    I hereby forwarding my curriculum vitae.
    I wish to apply for the position available in your organization. I am confident that I have knowledge
    and skill to professionally fulfilling the position as required by the organization. I am eager to
    enhance and refine my personal development within the organization, and take on the challenges
    that lie ahead.
    I will endeavour to effectively performance all my tasks as required by the organization and maintain
    the standard as defined by you. Given the opportunity, I will perform my duties with perseverance,
    dedication and loyalty. It is my aim to make and be part of a successful team that is directly involved
    in making the organization a success, as I believe I have a role to play in making things a success.
    I hope that my application will receive your favourable consideration.
</p>
</body>